@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fitbit.NET OAuth 2.0 Example Site</h1>
    <p class="lead">.NET library for Fitbit API. V2: OAuth 2.0, Heart Rate, JSON-based, Async calls, PCL Compliant!</p>
    <p><a href="https://github.com/aarondcoleman/Fitbit.NET/tree/async-portable" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. Getting started</h2>
        <p>
            Review Fitbit Documentation at:
        </p>
        <p><a href="https://dev.fitbit.com" class="btn btn-default">dev.fitbit.com</a></p>
    </div>
    <div class="col-md-4">
        <h2>2. Get an App Key</h2>
        <p>Register a new app or use a previously registered app from Fitbit.com.</p>
        <p><a class="btn btn-default" href="https://dev.fitbit.com/apps/new">dev.fitbit.com/apps/new &raquo;</a></p>
        <p>These values go in to Web.config under AppSettings</p>
    </div>
    <div class="col-md-4">
        <h2>3. Getting started</h2>
        <p>
            Connect an existing Fitbit.com account using OAuth 2.0
        </p>
        <p>@Html.ActionLink("Connect", "Authorize", "Fitbit", new { }, new { @class = "btn btn-success" })</p>
    </div>
</div>