<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="FitbitConsumerKey" value="227GBQ"/>
      <add key="FitbitConsumerSecret" value="91b33ac7039c4ca2322f81fa3a9af81b"/>
    </appSettings>
</configuration>
