@model Fitbit.Models.SleepGoal

@{
    ViewBag.Title = "Sleep Goal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sleep Goal</h2>


<div class="spaced-div">
    <h3>Current Sleep Goal</h3>
    @Html.DisplayForModel()
</div>