@model Fitbit.Models.TimeSeriesDataList

@{
    ViewBag.Title = "LastWeekDistance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Last Week Distances</h2>

<table>
@foreach (Fitbit.Models.TimeSeriesDataList.Data result in Model.DataList)
{ 
    <tr>
        <td>@result.DateTime</td>
        <td>@result.Value</td>
    </tr>
}
</table>