@model Fitbit.Models.TimeSeriesDataList

@{
    ViewBag.Title = "LastYearFat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Last Year Fat</h2>

<table>
    <tr>
        <th>DateTime</th>
        <th>Value</th>
    </tr>
@foreach (Fitbit.Models.TimeSeriesDataList.Data data in Model.DataList)
{ 
    <tr>
        <td>@data.DateTime</td>
        <td>@data.Value</td>
    </tr>
}
</table>