@model Fitbit.Models.Fat

@{
    ViewBag.Title = "LastMonthFat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Last Month Fat</h2>

<table>
    <tr>
        <th>DateTime</th>
        <th>Fat</th>
        <th>LogId</th>
    </tr>
@foreach (Fitbit.Models.FatLog log in Model.FatLogs)
{ 
    <tr>
        <td>@log.DateTime</td>
        <td>@log.Fat</td>
        <td>@log.LogId</td>
    </tr>
}
</table>